// Notes
// bootstrap.css  Only grid active and disbale (line 223) to disble outline in chrome 
// input,button,select,textarea {
//   font-family: inherit;
//   font-size: inherit;
//   line-height: inherit;
//   outline: none; // added this line
// }

$primary_color: #1EFF37;

$namefontSize: 36px;

body {
    background-color: #111111;
    color:#1EFF37;
}

#main {
	//  Center the element 
    height: 50%;
    padding: 0;
    margin: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    // Border
    background-color: #111111;
    color:#1EFF37;

    // Font
    font-size: 24px;
    // line-height: 1em;
	font-family: 'Droid Sans Mono';
    font-weight: 400;


}

#nav {
	padding-top: 50px;
	// font-family: 'Open Sans', sans-serif;
	font-family: 'Droid Sans Mono';
	
	ul {
		display: inline;
		li {
			padding: 30px 20px 20px 20px;
			text-decoration: none;
			display: inline;

			a {
				font-size: 16px;
				color:#1EFF37;
				text-decoration: none;
				border: 0px #1EFF37 solid;
				padding: 5px 10px 5px 10px;

				&:hover {
					border: 1px #1EFF37 dashed; 
				}
			}
		}
	}

	button {
		font-size: 15px;
		border: 1px #1EFF37 solid;
		padding: 5px 10px 5px 10px;
		background: transparent;
		background-color: #111111;
		margin-top: -5px;

		input textarea {
			outline:none!important;
		}

		&:checked {
			font-size: 15px;
			border: 1px #1EFF37 solid;
			padding: 5px 10px 5px 10px;
			background: transparent;
			background-color: #111111;

		}
	}
}

#first	{
	color: blue;
	font-size:$namefontSize;
}
#last {
	color:#888888;
	font-size:$namefontSize;
	margin-top: 0px;
}

//  Semi Transparent Button
.semi-transparent-button {
	font-size: 15px;
	display: block;
	margin: 0 auto;
	padding: 5px 10px 5px 10px;
	// background: #111111; /* fallback color for old browsers */
	background: rgba(82, 255, 102, 0.1);
	border: 1px #1EFF37 solid;
	color: #1EFF37;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all 0.3s ease-out;

  &:hover {
  		font-size: 15px;
		border: 1px #1EFF37 solid;
		padding: 5px 10px 5px 10px;
		background: transparent;
		background-color: #111111;
  }
}

#SocialMedia {
	padding: 20px;
	a {
		text-decoration: none;
		color: $primary_color;
		&:hover {
			border-bottom: 1px $primary_color dashed;
		}
	}
}

@media(max-width:767px){
#LMenu {display:none;}
#sMenu {}
}

@media(min-width:767px) {
#LMenu {}
#sMenu {display:none;}
}

